#section-download {
	background-color: #333;
}

.container.download {
	padding-top: 120px;
	padding-bottom: 120px;
}

.download h2 {
	margin-bottom: 30px;
}

.download-buttons {
	clear: both;
}

.download-buttons a {
	margin-top: 0;
}