#section-pricing {
	background: #f9f9f9;
	color: #666;
}

.container.pricing {
	padding-top: 120px;
	padding-bottom: 120px;
}

.pricing .section-title h3 {
	color: #666;
}

.single-pricing {
	position: relative;
	background: #FFFFFF;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
}

.pricing-head {
	overflow: hidden;
	padding: 24px 0;
}

.best-pricing .pricing-head {
	background: #333;
}

.best-pricing .price h3 {
	color: #e5e5e5;
}

.pricing-heading {
	margin-top: 0;
	margin-bottom: 0;
}

.single-pricing .price h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	line-height: 38px;
}

.single-pricing .price .dollar {
	font-size: 20px;
	vertical-align: super;
	font-weight: normal;
}

.single-pricing .price .month {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-weight: 300;
	color: #959292;
}

.single-pricing .package-features {
	margin-bottom: 15px;
}

.single-pricing .package-features li:first-child {
	border-top: 1px solid #EEE;
}

.single-pricing .package-features li {
	margin: 0px;
	padding-bottom: 9px;
	padding-top: 9px;
	border-bottom: 1px solid #EEE;
	color: #666;
}

.single-pricing .package-features li span {
	margin-right: 8px;
}

.single-pricing .sign-up {
	padding-bottom: 15px;
}