#section-subscribe {
	position: relative;
}

.container.subscribe {
	padding-top: 120px;
	padding-bottom: 120px;
}

.subscription-success, .subscription-failed {
	display: none;
	color: #e5e5e5;
}

.subscribe h2 {
	margin-bottom: 30px;
}

#subscription-form {
	overflow: hidden;
	width: 100%;
}

#subscription-form  .input-email {
	display: block;
	height: 55px;
	padding-left: 20px;
	width: 480px;
	color: #F4F4F4;
	background: transparent;
	border-radius: 4px;
	border: 1px solid #fff;
	margin: auto;
	margin-bottom: 14px;
}