#section-whoweare {
	color: #e5e5e5;
}

.whoweare-wrap {
	background-color:#333;
	position: relative;
}

.whoweare {
	padding-top: 120px;
	padding-bottom: 120px;
}

.whoweare .comment {
	font-size: 18px;
	margin-bottom: 48px;
}

.testimonial .happy-client {
	display: table;
	border-bottom: 1px solid;
	max-width: 280px;
	font-weight: 400;
	margin: 0 auto 5px;
}

.testimonial .client-info {
	font-size: 14px;
}

#bx-pager {
	margin-top: 48px;
}

.client-photos .photo-hold {
	display: inline-block;
	width: 100px;
	height: 100px;
	padding: 10px;
	margin-right: 20px;
	border: 1px solid;
	border-radius: 4px;
	box-sizing: border-box;
}

.client-photos .photo-bg {
	background: #000;
	display: block;
}

.client-photos img {
	opacity: .4;
}

.client-photos .active img {
	opacity: 1;
}